<div id="faq" class="mb-4">
    <div class="text-center">
        <h3>Frequently Asked Questions</h3>


        <div class="accordian-wrapper">
            <div class="container">
                <div class="accordian">

                    <div class="hidden" id="blood_accordian">

                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    How many units of blood can a healty person donate at a time?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>
                                            Every adult human being (male or female) has 5 to 6 litres of blood. Any
                                            person between 18-60 years old weighting 45 kg or more can safely donate one
                                            unit of blood, that is 350 ml once every three month.
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        {% if page_title == "Create donation offer" %}
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    How often can I donate blood?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>You must wait at least eight weeks (56 days) between donations of whole blood
                                            and 16 weeks (112 days) between Power Red&nbsp;donations. Platelet apheresis
                                            donors may give every 7 days up to 24 times per year.&nbsp;Regulations are
                                            different for those giving blood for themselves (autologous donors).<br></p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    Will it hurt when you insert the needle?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>Only for a moment. Pinch the fleshy, soft underside of your arm. That pinch
                                            is similar to what you will feel when the needle is inserted.<br></p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    How long does a blood donation take?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>The entire process takes about one hour and 15 minutes; the actual donation
                                            of a pint of whole blood unit takes eight to 10 minutes. However, the time
                                            varies slightly with each person depending on several factors including the
                                            donor’s health history and attendance at the blood drive.<br></p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    How long will it take to replenish the pint of blood I donate?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>The plasma&nbsp;from your donation is&nbsp;replaced within about 24 hours.
                                            Red cells need about four to six weeks for complete replacement. That’s why
                                            at least eight weeks are required between whole blood donations.<br></p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    What should I do after donating blood?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>After you give blood:</p>
                                        <p><b>Take the following precautions</b>:</p>
                                        <ul>
                                            <li>Drink an extra four glasses (eight ounces each) of non-alcoholic
                                                liquids.</li>
                                            <li>Keep your bandage on and dry for the next five hours, and do not do
                                                heavy exercising or lifting.</li>
                                            <li>If the needle site starts to bleed, raise your arm straight up and press
                                                on the site until the bleeding stops.</li>
                                            <li>Because you could experience dizziness or loss of strength, use caution
                                                if you plan to do anything that could put you or others at risk of harm.
                                                For any hazardous occupation or hobby, follow applicable safety
                                                recommendations regarding your return to these activities following a
                                                blood donation.</li>
                                            <li>Eat healthy meals and consider adding <a
                                                    href="https://www.redcrossblood.org/donate-blood/blood-donation-process/before-during-after/iron-blood-donation.html"
                                                    target="_blank">iron-rich foods</a> to your regular diet, or discuss
                                                taking an iron supplement with your health care provider, to replace the
                                                iron lost with blood donation.</li>
                                            <li><b>If you get a bruise</b>:&nbsp;&nbsp;Apply ice to the area
                                                intermittently for 10-15 minutes during the first 24 hours. Thereafter,
                                                apply warm, moist heat to the area intermittently for 10-15 minutes. A
                                                rainbow of colors may occur for about 10 days.</li>
                                            <li><b>If you get dizzy or lightheaded</b>:&nbsp;&nbsp;Stop what you are
                                                doing, lie down, and raise your feet until the feeling passes and you
                                                feel well enough to safely resume activities.</li>
                                            <li><b>And remember to enjoy the feeling of knowing you have helped save
                                                    lives!</b></li>
                                            <li><b>Schedule your next appointment</b>.</li>
                                        </ul>
                                    </div>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    Who can donate blood?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>In most states, donors must be age 17 or older. Some states allow donation by
                                            16-year-olds with a signed parental consent form. Donors must weigh at least
                                            110 pounds and be in good health. Additional&nbsp;eligibility
                                            criteria&nbsp;apply.<br></p>
                                    </div>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="hidden" id="organ_accordian">

                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    Is there an age limit for donating organs or tissues?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>
                                            There is no age limit for organ or tissue donation. Even people in their 80s and 90s
                                            have successfully donated organs and tissues.
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    What medical conditions exclude a person from donating organs or tissues?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>
                                            Only actively spreading cancer normally excludes a person from donating
                                            organs or tissues. Otherwise, the transplant team will determine what organs can be
                                            used at the time of death.
                                            <br>
                                            Historically, HIV would exclude one from organ donation, however, The HOPE
                                            Act, passed in 2013, allows certified transplant centers to transplant
                                            organs from an HIV + donor into HIV + recipients. In addition, transplants
                                            between donors and potential recipients with Hepatitis are also currently
                                            being performed. Ongoing advances with transplantation has increased the
                                            donor pool and allowed for more lives to be saved.
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        {% if page_title == "Create donation offer" %}
                        <div class="accordian-card">
                            <div class="accordian-card-heading">
                                <a href="javascript:void(0);">
                                    What organs and tissues can I donate?
                                </a>
                            </div>
                            <div class="accordian-card-body">
                                <p>
                                    <div class="faq-expand-content" style="display: block;">
                                        <p>
                                            Life-saving organs for transplant include the heart, kidney, pancreas,
                                            lungs, liver and intestines. Tissues that can be donated include bones,
                                            ligaments, tendons, fascia, veins and nerves. Corneas, heart valves and skin
                                            may also be donated. Vascularized Composite Allografts (VCA) transplants
                                            including hand and face transplants have become available in recent years
                                            for people who have suffered a devastating injury.
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <div class="accordian-card">
                        <div class="accordian-card-heading">
                            <a href="javascript:void(0);">
                                Does the system cost any charge or make any profit?
                            </a>
                        </div>
                        <div class="accordian-card-body">
                            <p>
                                <div class="faq-expand-content" style="display: block;">
                                    <p>
                                        The system itself does not cost any charge or make any profit. <br>
                                        The system works as a bridge between donar and donar seeker.
                                    </p>
                                </div>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
