{% load static %}

{% url 'utils:site_preference' as site_preference_url %}
{% url 'home' as home_url %}
{% url 'user_list' as user_list_url %}
{% if request.user.is_authenticated %}
{% url 'profile_details' slug=request.user.profile.slug as profile_details_url %}
{% url 'profile_update' slug=request.user.profile.slug as profile_update_url %}
{% url 'donations:my_donation_offers' as my_donation_offers_url %}
{% url 'donations:donation_offers_list' as donation_offers_list_url %}
{% url 'donations:donation_offers_list_card' as donation_offers_list_card_url %}
{% url 'donations:my_donation_requests' as my_donation_requests_url %}
{% url 'donations:donation_requests_list' as donation_requests_list_url %}
{% url 'donations:donation_requests_list_card' as donation_requests_list_card_url %}
{% url 'donationBank:bank_list' as bank_list_url %}
{% url 'priceplan:plan_create' as plan_create_url %}
{% url 'user_report_list' as user_report_list_url %}
{% url 'suspicious:suspicious_list' as suspicious_list_url %}
{% url 'user_permission_list' as user_permission_list_url %}
{% endif %}

<div class="sidebar sidebar-style-2"
    data-background-color="{% if not site_preference.sidebar_color == None %}{{site_preference.sidebar_color}}{% else %}white{% endif %}">

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    {% include 'snippets/chunks/user-image.html' with instance=request.user class="avatar-img rounded-circle" %}
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {% if site_preference.sidebar_type == "compact-wrapper" %}
                            {{ request.user.profile.get_smallname|truncatechars_html:7 }}
                            {% else %}
                            {{ request.user.profile.get_dynamic_name|truncatechars_html:17 }}
                            {% endif %}
                            <span class="text-danger font-bold font-15">
                                Superuser
                            </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse {% if request.path == profile_details_url or request.path == profile_update_url or request.path == site_preference_url %}show{% endif %}"
                        id="collapseExample">
                        <ul class="nav">
                            <li class="{% if request.path == profile_details_url %}c-active{% endif %}">
                                <a href="{{ profile_details_url }}">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li class="{% if request.path == profile_update_url %}c-active{% endif %}">
                                <a href="{{ profile_update_url }}">
                                    <span class="link-collapse">Update Profile</span>
                                </a>
                            </li>
                            <li class="{% if request.path == site_preference_url %}c-active{% endif %}">
                                <a href="{{ site_preference_url }}">
                                    <span class="link-collapse">Site Preference</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <ul class="nav nav-primary">
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a href="{{ home_url }}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == user_list_url %}active{% endif %}">
                    <a href="{{ user_list_url }}">
                        <i class="flaticon-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == plan_create_url %}active{% endif %}">
                    <a href="{{ plan_create_url }}">
                        <i class="flaticon-add"></i>
                        <p>Create Price Plan</p>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li
                    class="nav-item {% if request.path == donation_offers_list_url or request.path == donation_offers_list_card_url %}active{% endif %}">
                    <a href="{{ donation_offers_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/heart.png' %}" alt="donation offers"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Offers</p>
                    </a>
                </li>
                <li
                    class="nav-item {% if request.path == donation_requests_list_url or request.path == donation_requests_list_card_url %}active{% endif %}">
                    <a href="{{ donation_requests_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/help.png' %}" alt="donation requests"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Requests</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == bank_list_url %}active{% endif %}">
                    <a href="{{ bank_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/banks.png' %}" alt="donation bank"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Banks</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == user_report_list_url %}active{% endif %}">
                    <a href="{{ user_report_list_url }}">
                        <i class="flaticon-exclamation font-bold"></i>
                        <p>User Reports</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == suspicious_list_url %}active{% endif %}">
                    <a href="{{ suspicious_list_url }}">
                        <i class="flaticon-exclamation font-bold"></i>
                        <p>Suspicious Users</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == user_permission_list_url %}active{% endif %}">
                    <a href="{{ user_permission_list_url }}">
                        <i class="flaticon-user-5 font-bold"></i>
                        <p>User Permissions</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>