{% extends base_template %} 

{% load static %} 

{% block head_title %}{% block page_title %}{% block breadcrumb %} 
Bank Dashboard 
{% endblock %}{% endblock %}{% endblock %} 

{% block content %}

<div class="card">
  <div class="card-header">
    {% include 'donationBank/snippets/header.html' %}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        {% include 'donationBank/snippets/sidebar.html' %}
      </div>

      <div class="col-md-10">
        <div class="row">

          {% if request.user.user_bank_member.bank.institute == object.institute and request.user.user_bank_member.role == 0 %}
          <div class="col-md-12 text-center">
            {% include 'donationBank/snippets/member-requests.html' %}
          </div>
          {% endif %}

          <div class="col-md-12 mx-auto">
            <div id="large-header" class="large-header">
              <canvas id="demo-canvas"></canvas>
              <h1 class="main-title">{{ object.institute }} <span class="thin"></span></h1>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>

{% include 'donationBank/snippets/footer.html' %}

{% endblock %}
