{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Donation Bank- Overview
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        {% include 'donationBank/snippets/header.html' %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                {% include 'donationBank/snippets/sidebar.html' %}
            </div>
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-bordered text-muted">
                        <tbody>
                            <tr>
                                <td class="font-bold">Verification Status</td>
                                <td
                                    class="font-bold {% if object.is_verified == True %}text-success{%else%}text-danger{%endif%}">
                                    {{ object.get_verification_status }}
                                </td>
                            </tr>
                            {% if request.user.user_bank_member.bank.institute == object.institute %}
                                {% if not object.bank_setting.privacy == None %}
                                <tr>
                                    <td class="font-bold">Privacy</td>
                                    <td class="font-bold">{{ object.bank_setting.get_privacy_status }}</td>
                                </tr>
                                {% endif %}
                                {% if not object.bank_setting.member_request == None %}
                                <tr>
                                    <td class="font-bold">Member Request</td>
                                    <td class="font-bold">{{ object.bank_setting.get_member_request_status }}</td>
                                </tr>
                                {% endif %}
                            {% endif %}
                            
                            {% if object.services %}
                            <tr>
                                <td class="font-bold">Services</td>
                                <td
                                    class="font-bold font-italic">
                                    {{ object.services }}
                                </td>
                            </tr>
                            {% endif %}

                            {% if object.address %}
                            <tr>
                                <td>Address</td>
                                <td>{{ object.address }}</td>
                            </tr>
                            {% endif %}

                            {% if object.city %}
                            <tr>
                                <td>City</td>
                                <td>{{ object.city }}</td>
                            </tr>
                            {% endif %}

                            {% if object.state %}
                            <tr>
                                <td>State</td>
                                <td>{{ object.state }}</td>
                            </tr>
                            {% endif %}

                            {% if object.country %}
                            <tr>
                                <td>Country</td>
                                <td>{{ object.country.name }}</td>
                            </tr>
                            {% endif %}

                            {% if object.contact %}
                            <tr>
                                <td>Contact</td>
                                <td>
                                    <a href="#">
                                        {{ object.contact }}
                                    </a>
                                </td>
                            </tr>
                            {% endif %}

                            {% if object.email %}
                            <tr>
                                <td>Email</td>
                                <td>{{ object.email }}</td>
                            </tr>
                            {% endif %}

                            {% if object.description %}
                            <tr>
                                <td>Description</td>
                                <td>{{ object.description|safe|linebreaks }}</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>

                {% include 'donationBank/snippets/bank-storage.html' %}

            </div>
        </div>
    </div>
    
    {% comment %}
    {% if not request.user.user_bank_member.bank.institute == object.institute %}
    <div class="card-footer">
        <button class="btn btn-primary btn-block">
            <b>Ask for a donation</b>
        </button>
    </div>
    {% endif %}
    {% endcomment %}

</div>

{% include 'donationBank/snippets/footer.html' %}

{% endblock %}