{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{{ page_title }}
{% endblock %}{% endblock %}{% endblock %}

{% block extra_css %}
<!-- date-time picker CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker/jquery.datetimepicker.min.css' %}" />
<!-- jquery-steps CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-steps/jquery-steps.css' %}" />
<!-- intlInputPhone CSS -->
<link rel="stylesheet" href="{% static 'vendor/intlTelInput/intlTelInput.css' %}" type="text/css" />
{% endblock %}

{% block extra_head_js %}
<!-- jquery-steps JS -->
<script src="{% static 'vendor/jquery-steps/jquery.steps.js' %}"></script>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        {% include 'donationBank/snippets/header.html' %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                {% include 'donationBank/snippets/sidebar.html' %}
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="card">
                            <form method="POST" id="donationBank_donation_manage_form" data-toggle="validator">
                                {% csrf_token %}
                                <div class="card-header">
                                    <div class="card-title text-center">
                                        {{ page_title }}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" name="startIndex" id="startIndex" value="0">
                                            <div id="wizard">
                                                <!-- jquery steps div -->

                                                {% include 'donationBank/snippets/bank-donation-form.html' %}

                                            </div> <!-- jquery steps div -->
                                        </div>
                                    </div>
                                </div>
                                {% comment %}
                                <div class="card-action text-center form-group">
                                    <button type="submit" class="btn btn-success m-2" id="submitBtn">
                                        {{ page_title }}
                                    </button>
                                    <button class="btn btn-danger" id="go_back">Cancel</button>
                                </div>
                                {% endcomment %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'donationBank/snippets/footer.html' %}

{% endblock %}


{% block extra_js %}
<!-- datetime picker JS -->
<script src="{% static 'vendor/datetimepicker/jquery.datetimepicker.js' %}"></script>
<!-- intlInputPhone JS -->
<script type="text/javascript" src="{% static 'vendor/intlTelInput/intlTelInput-jquery.min.js' %}"></script>
<script>
    window.intlTelInputGlobals.loadUtils("{% static 'vendor/intlTelInput/utils.js' %}");
</script>
<!-- Donation Form JS -->
<script type="text/javascript" src="{% static 'assets/js/form-validator/bank-donation-form.js' %}"></script>
{% endblock %}