{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Donation Request Details
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        {% include 'donationBank/snippets/header.html' %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="{% if request.user.user_bank_member.bank.institute == object.institute %}col-md-2{% else %}col-md-4{% endif %}">
                {% include 'donationBank/snippets/sidebar.html' %}

                {% if not request.user.user_bank_member.bank.institute == object.institute %}
                <div class="border-white-1">
                    <div class="text-center">
                        <p class="font-17 mt-3 font-bold">Bank Information</p>
                    </div>
                    {% include 'donationBank/snippets/bank-short-info.html' with instance=donation.bank %}
                </div>
                {% endif %}
            </div>
            <div
                class="{% if request.user.user_bank_member.bank.institute == object.institute %}col-md-10{% else %}col-md-8{% endif %}">
                <div class="card">
                    <div class="card-body">
                        
                        {% if request.user.user_bank_member.bank.institute == object.institute %}
                        <div class="mb-2 text-center">
                            <div class="pull-left">
                                <a href="{% url 'donation_bank:bank_manage_request_progress_status' slug=donation.slug %}"
                                    class="btn btn-primary btn-xs text-deco-none bg-c-info">
                                    <span class="btn-label">
                                        <i class="flaticon-mark"></i>
                                        progress
                                    </span>
                                </a>
                            </div>
                            <span class="font-17 font-bold text-muted">Donation Request Details</span>
                            <div class="pull-right">
                                <a href="{% url 'donation_bank:bank_donation_request_update' slug=donation.slug %}"
                                    class="btn btn-primary btn-xs text-deco-none">
                                    <span class="">
                                        <i class="flaticon-pencil"></i>
                                        Edit
                                    </span>
                                </a>
                                <button type="button"
                                    class="btn btn-danger btn-xs text-deco-none bg-c-danger m-1
                                    js_delete_bank_donation_request"
                                    value="{{donation.slug}}" data-toggle="modal"
                                    data-target="#modal-delete-bank_donation_request">
                                    <i class="flaticon-interface-5"></i>
                                    Delete
                                </button>
                            </div>
                            <br>
                        </div>
                        {% endif %}

                        <hr>

                        <div class="d-flex justify-content-between">
                            <div>
                                {% if not request.user.user_bank_member.bank.institute == object.institute %}
                                <h5>
                                    <b>
                                        <span class="text-secondary">
                                            Bank:
                                        </span>
                                        <span class="text-primary ml-2">
                                            <a href="{% url 'donation_bank:bank_details' slug=donation.bank.slug %}"
                                            class="text-primary">
                                                {{ donation.bank.institute }}
                                            </a>
                                        </span>
                                    </b>
                                </h5>
                                {% endif %}
                                <div class="text-small op-8">
                                    <span class="text-secondary">
                                        Published:
                                    </span>
                                    <span class="ml-2">
                                        {% if datetime|date:"d-M-Y" == donation.created_at|date:"d-M-Y" %}
                                        {{ donation.created_at|timesince }} ago
                                        {% else %}
                                        {{ donation.created_at }}
                                        {% endif %}
                                    </span>
                                </div>
                                <p class="text-muted text-small">
                                    <span class="text-secondary">
                                        Progress Status:
                                    </span>
                                    <span
                                        class="ml-2 {% if donation.donation_request_progress.progress_status == 1 %}c-text-success{% else %}c-text-warning{% endif %} font-bold">
                                        {{ donation.donation_request_progress.get_progress_status }}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <div class="text-center">
                                <h5 class="font-bold">Donation Information</h5>
                            </div>
                            <h5>
                                <span class="text-secondary">
                                    Donation Type:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.get_donation_type }}
                                </span>
                            </h5>

                            {% if donation.blood_group %}
                            <h5>
                                <span class="text-secondary">
                                    Blood Group:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.blood_group }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.organ_name %}
                            <h5>
                                <span class="text-secondary">
                                    Organ name:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.organ_name }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.tissue_name %}
                            <h5>
                                <span class="text-secondary">
                                    Tissue name:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.tissue_name }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.quantity %}
                            <h5>
                                <span class="text-secondary">
                                    Quantity:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.quantity }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.details %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title text-center text-secondary">
                                        Details
                                    </h5>
                                </div>
                                <div class="card-body ml-4 mr-4">
                                    {{ donation.details|safe|linebreaks }}
                                </div>
                            </div>
                            {% endif %}

                            <hr>

                            {% if donation.donation_progress.progress_status == 1 %}
                            <div class="text-center">
                                <h5 class="font-bold">Donor Information</h5>
                            </div>

                            <span class="text-secondary">
                                Published:
                            </span>
                            <span class="ml-2">
                                {% if datetime|date:"d-M-Y" == donation.created_at|date:"d-M-Y" %}
                                {{ donation.created_at|timesince }} ago
                                {% else %}
                                {{ donation.created_at }}
                                {% endif %}
                            </span>
                            {% if donation.donation_request_progress.completion_date %}
                            <h5>
                                <span class="text-secondary">
                                    First Name:
                                </span>
                                <span class="text-primary ml-2">
                                    {% if datetime|date:"d-M-Y" == donation.donation_request_progress.completion_date|date:"d-M-Y" %}
                                    {{ donation.donation_request_progress.completion_date|timesince }} ago
                                    {% else %}
                                    {{ donation.donation_request_progress.completion_date }}
                                    {% endif %}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.first_name %}
                            <h5>
                                <span class="text-secondary">
                                    First Name:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.donation_request_progress.first_name }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.last_name %}
                            <h5>
                                <span class="text-secondary">
                                    Last Name:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.donation_request_progress.last_name }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.gender %}
                            <h5>
                                <span class="text-secondary">
                                    Gender:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.donation_request_progress.gender }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.dob %}
                            <h5>
                                <span class="text-secondary">
                                    Date of Birth:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.donation_request_progress.dob }}
                                    <span class="text-muted ml-2">
                                        [Age - {{donation.donation_request_progress.get_age}}]
                                    </span>
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.email %}
                            <h5>
                                <span class="text-secondary">
                                    Email:
                                </span>
                                <span class="text-primary ml-2">
                                    {{ donation.donation_request_progress.email }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.contact %}
                            <h5>
                                <span class="text-secondary">
                                    Contact no. :
                                </span>
                                <span class="ml-2">
                                    <a href="#">
                                        {{ donation.donation_request_progress.contact }}
                                    </a>
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.address %}
                            <h5>
                                <span class="text-secondary">
                                    Address:
                                </span>
                                <span class="ml-2">
                                    {{ donation.donation_request_progress.address }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.city %}
                            <h5>
                                <span class="text-secondary">
                                    City:
                                </span>
                                <span class="ml-2">
                                    {{ donation.donation_request_progress.city }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.state %}
                            <h5>
                                <span class="text-secondary">
                                    State:
                                </span>
                                <span class="ml-2">
                                    {{ donation.donation_request_progress.state }}
                                </span>
                            </h5>
                            {% endif %}

                            {% if donation.donation_request_progress.country %}
                            <h5>
                                <span class="text-secondary">
                                    Country:
                                </span>
                                <span class="ml-2">
                                    {{ donation.donation_request_progress.country.name }}
                                </span>
                            </h5>
                            {% endif %}

                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'donationBank/snippets/footer.html' %}

{% endblock %}