{% extends base_template %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Donation Bank List
{% endblock %}{% endblock %}{% endblock %}


{% load static %}

{% block extra_css %}
<!-- Datatable css -->
<link rel="stylesheet" href="{% static 'vendor/jquery-datatable/dataTables.min.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="table-responsive">
    <table id="donationBankDataTable" class="cell-border hover table-bordered table-hover text-center"
        style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Institute</th>
                {% if not request.user.is_superuser %}
                <th>Address</th>
                {% endif %}
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Contact</th>
                <th width='10%'>Email</th>
                {% if request.user.is_superuser %}
                <th>Status</th>
                {% endif %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr class="text-dark">
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <b>
                        {{ object.institute }}
                    </b>
                </td>
                {% if not request.user.is_superuser %}
                <td>
                    {% if not object.address == None %}
                    {{ object.address }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if not object.city == None %}
                    {{ object.city }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if not object.state == None %}
                    {{ object.state }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if not object.country == None %}
                    {{ object.country.name }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <a href="#">
                        {% if not object.contact == None %}
                        {{ object.contact }}
                        {% else %}
                        -
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if not object.email == None %}
                    {{ object.email }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                {% if request.user.is_superuser %}
                <td>
                    <span class="{% if object.is_verified == True %}text-success{%else%}text-danger{%endif%}">
                        {{object.get_verification_status}}
                    </span>
                    <br>
                    <a href="{% url 'donation_bank:bank_update' slug=object.slug %}" class="btn btn-primary btn-xs text-deco-none">
                        <span class="">
                            Change
                        </span>
                    </a>
                </td>
                {% endif %}
                <td>
                    <a href="{% url 'donation_bank:bank_details' slug=object.slug %}"
                        class="btn btn-secondary btn-xs text-deco-none">
                        <span class="">
                            View
                        </span>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">
                    <div class="alert alert-warning">
                        No item found!
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="text-center">
                <th>#</th>
                <th>Institute</th>
                {% if not request.user.is_superuser %}
                <th>Address</th>
                {% endif %}
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Contact</th>
                <th>Email</th>
                {% if request.user.is_superuser %}
                <th>Status</th>
                {% endif %}
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>

{% include 'donationBank/snippets/footer.html' %}

{% endblock %}

{% block extra_js %}
<input type="hidden" id="total_records_count" value="{{object_list|length}}">
<!-- Datatable JS -->
<script type="text/javascript" src="{% static 'vendor/jquery-datatable/dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#donationBankDataTable').DataTable({
            destroy: true,
            //"retrieve": true,
            //"order": [[ 1, 'desc' ]],
            "ordering": false,
            //"searching": false,
            //"paging": false,
            //"scrollY": 400,
            //"scrollX": 400,
            //"scrollY": '62vh',
            //"scrollX": '50vh',
            "scrollCollapse": true,
            "stateSave": true,
            "pagingType": "full_numbers",
            "language": {
                "lengthMenu": "Display _MENU_ records per page. <span class='ml-4 text-primary'>Total Records: <span class='font-13 font-bold'>" +
                    $("#total_records_count").val() + "</span></span>",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
        });
    });
</script>
{% endblock %}