{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Home Page
{% endblock %}{% endblock %}{% endblock %}

{% block extra_css %}
<!-- Jquery-Swiper css -->
<link rel="stylesheet" href="{% static 'vendor/jquery-swiper/swiper.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<div class="row justify-content-center align-items-center mb-4">
    {% include 'pages/snippets/donate-btn.html' %}
</div>
<div class="row justify-content-center align-items-center mb-4">
    <h4 class="page-title font-bold font-17">
        Campaigns ({{campaigns_count}})
    </h4>
    
    {% include 'pages/snippets/campaigns.html' %}
    
    {% comment %}
    {% for campaign in campaigns %}
    {{campaign.title}}
    {% endfor %}
    {% endcomment %}

    <a href="{% url 'donation_bank:bank_campaign_list_public' %}" class="text-deco-none btn btn-primary btn-sm m-3">
        View All Campaigns
    </a>
</div>

{% endblock %}

{% block extra_js %}
<!-- Jquery-Swiper JS -->
<script type="text/javascript" src="{% static 'vendor/jquery-swiper/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery-swiper/swiper-config.js' %}"></script>
{% endblock %}