{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Home Page
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="row mt--2">
    <div class="col-md-6">
        <a href="{% url 'donations:request_donation' %}" class="text-deco-none">
            <div class="card full-height">
                <div class="card-body text-center hover-effect">
                    <div class="card-title">
                        I need Donor
                        <span class="ml-2">
                            <img src="{% static 'images/raw/help.png' %}" alt="i need donation"
                                class="avatar-img rounded-circle avatar-sm">
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'donations:offer_donation' %}" class="text-deco-none">
            <div class="card full-height">
                <div class="card-body text-center hover-effect">
                    <div class="card-title">
                        I want to Donate
                        <span class="ml-2">
                            <img src="{% static 'images/raw/heart.png' %}" alt="i want to donate"
                                class="avatar-img rounded-circle avatar-sm">
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}