{% extends 'base.html' %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{{ page_title }}
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

{% block extra_css %}
<!-- el-pagination css -->
<link rel="stylesheet" href="{% static 'vendor/el-pagination/el-pagination.css' %}" type="text/css" />
{% endblock %}

<div class="row">
    <div class="col-md-10">
        <div class="row">
            {% include page_template %}
        </div>
    </div>
    <div class="col-md-2 text-center">
        <h4>Other Filters</h4>
    </div>
</div>

{% block extra_js %}
<!-- el-pagination JS -->
<script type="text/javascript" src="{% static 'vendor/el-pagination/el-pagination.js' %}"></script>
<script>
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollChunkSize: 5
    });
</script>
{% endblock %}

{% endblock %}