{% if object.is_verified == False %}
<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <h2 class="text-danger">
        '{{ object.institute }}'
        <strong class="font-italic">has not verified</strong> 
        yet!
    </h2>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="text-center">
    <div class="">
        <div class="colorful-text m-2">
            {{ object.institute }}
        </div>

        {% if request.user.user_bank_member.bank.institute == object.institute %}
        {% if request.user.user_bank_member.role == 0 %}
        {% url 'donationBank:bank_update' slug=object.slug as bank_update_url %}
        <span class="pull-left text-primary font-15">
            <a href="{{ bank_update_url }}" class="text-deco-none">
                <i class="flaticon-interface-4"></i> 
                <span class="ml-1">Update Info</span>
            </a>
        </span>
        {% url 'donationBank:bank_setting_update' as bank_setting_update_url %}
        <span class="pull-left text-primary font-15 ml-2">
            <a href="{{ bank_setting_update_url }}" class="text-deco-none">
                <i class="flaticon-settings"></i>
                <span class="ml-1">Update Settings</span>
            </a>
        </span>
        {% endif %}
        {% endif %}

        {% if request.user.user_bank_member.role == "" and request.user.user_member_request.bank == "" and object.bank_setting.member_request == 0 and not object.bank_member.count >= 3 %}
        <span class="">
            <button type="button" class="btn btn-success btn-xs text-deco-none bg-c-primary m-1"
                id="js_send_member_request" value="{{object.slug}}" data-toggle="modal"
                data-target="#modal-member-request">
                <i class="flaticon-add font-13"></i>
            </button>
        </span>
        {% endif %}
        
        {% if request.user.user_bank_member.bank.institute == object.institute %}
        <span class="pull-right font-13 {% if request.user.user_bank_member.role == 0 %}text-danger{% else %}text-success{% endif %}">
            <i class="flaticon-user"></i>
            {{ request.user.user_bank_member.get_bank_member_role }}
        </span>
        {% endif %}

        {% if request.user.is_superuser %}
        <a href="{{ bank_update_url }}" class="btn btn-dark btn-sm text-deco-none">
            <span class="text-white">
                Change Verification Status
            </span>
        </a>
        {% endif %}
    </div>
</div>
