{% extends base_template %}

{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
User Profiles
{% endblock %}{% endblock %}{% endblock %}

{% block extra_css %}
<!-- el-pagination css -->
<link rel="stylesheet" href="{% static 'vendor/el-pagination/el-pagination.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">

            {% include page_template %}

        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<!-- el-pagination JS -->
<script type="text/javascript" src="{% static 'vendor/el-pagination/el-pagination.js' %}"></script>
<script>
    // $.endlessPaginate();
    // $.endlessPaginate({paginateOnScroll: true});
    // $.endlessPaginate({
    //     paginateOnScroll: true,
    //     paginateOnScrollMargin: 20
    // });
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollChunkSize: 5
    });
    // $.endlessPaginate({
    //     contentSelector: '.endless_content_wrapper'
    // });
</script>
{% endblock %}