{% load static %}

<!-- <script src="{% static 'assets/js/core/popper.min.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script> -->

<!-- Bootstrap tooltips -->
<!-- <script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script> -->

<!-- Bootstrap core JavaScript -->
<!-- <script type="text/javascript" src="{% static 'mdb/js/bootstrap.min.js' %}"></script> -->
<!-- MDB core JavaScript -->
<!-- <script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script> -->

<!-- velocity JS -->
<!-- <script src="{% static 'assets/js/plugin/velocity/velocity.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/plugin/velocity/velocity.ui.js' %}"></script> -->

<!-- bootstrap-validator JS -->
<script type="text/javascript" src="{% static 'vendor/bootstrap-validator/validator.js' %}"></script>


<!-- ajax-setup JS -->
<!-- <script type="text/javascript" src="{% static 'assets/js/form-validator/ajax-setup.js' %}"></script> -->

<!-- jQuery Scrollbar -->
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

<!-- ripple-effect JS -->
<script type="text/javascript" src="{% static 'vendor/click-tap-ripple-effect/ripple-effect.min.js' %}"></script>

<!-- Chart JS -->
<!-- <script src="{% static 'assets/js/plugin/chart.js/chart.min.js' %}"></script> -->

<!-- jQuery Sparkline -->
<!-- <script src="{% static 'assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script> -->

<!-- Chart Circle -->
<!-- <script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script> -->

<!-- Datatables -->
<!-- <script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script> -->

<!-- Bootstrap Notify -->
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

<!-- jQuery Vector Maps -->
<!-- <script src="{% static 'assets/js/plugin/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jqvmap/maps/jquery.vmap.world.js' %}"></script> -->

<!-- Sweet Alert -->
<script src="{% static 'assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>


<!-- Atlantis JS -->
<script src="{% static 'assets/js/atlantis.min.js' %}"></script>

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/js/setting-demo.js' %}"></script>

<!-- custom js -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- <script src="{% static 'assets/js/demo.js' %}"></script> -->
<!-- <script>
    Circles.create({
        id: 'circles-1',
        radius: 45,
        value: 60,
        maxValue: 100,
        width: 7,
        text: 5,
        colors: ['#f1f1f1', '#FF9E27'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    Circles.create({
        id: 'circles-2',
        radius: 45,
        value: 70,
        maxValue: 100,
        width: 7,
        text: 36,
        colors: ['#f1f1f1', '#2BB930'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    Circles.create({
        id: 'circles-3',
        radius: 45,
        value: 40,
        maxValue: 100,
        width: 7,
        text: 12,
        colors: ['#f1f1f1', '#F25961'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

    var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: 'bar',
        data: {
            labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
            datasets: [{
                label: "Total Income",
                backgroundColor: '#ff9e27',
                borderColor: 'rgb(23, 125, 255)',
                data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        display: false //this will remove only the label
                    },
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }]
            },
        }
    });

    $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: 'line',
        height: '70',
        width: '100%',
        lineWidth: '2',
        lineColor: '#ffa534',
        fillColor: 'rgba(255, 165, 52, .14)'
    });
</script> -->
