{% load static %}
<!-- Normalize CSS -->
<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}" type="text/css" />

<!-- Default Bootstrap CSS -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css" /> -->

<!-- MDB Bootstrap core CSS -->
<link href="{% static 'mdb/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Material Design Bootstrap -->
{# <link href="{% static 'mdb/css/mdb.min.css' %}" rel="stylesheet"> #}

<!-- System core CSS -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/atlantis.min.css' %}" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'assets/css/atlantis.css' %}" type="text/css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/animation.css' %}" type="text/css" />

<!-- jquery-ui -->
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}" type="text/css" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" type="text/css" />

<!-- ripple effect css -->
<link rel="stylesheet" href="{% static 'vendor/click-tap-ripple-effect/ripple-effect.css' %}" type="text/css" />

<!-- django countries -->
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">