{% load static %}
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    Copyright © {% now "F Y" %} BDonor. All rights reserved.
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            Developed <i class="fa fa-heart heart text-danger"></i> by
                <!-- <a href="https://www.facebook.com/numanibnmazid" target="_blank">Numan Ibn Mazid</a> -->
            <a href="https://web.facebook.com/numanibnmazid" data-toggle="modal" data-target="#myModal"
                style="font-family:Georgia, serif !important;">
                <strong style="font-size:20px;" class="colorful-text"> Numan Ibn Mazid </strong>
            </a>
        </div>
    </div>
</footer>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><span>&#9755;</span> Numan Ibn Mazid</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-auto">
                    <center>
                        <img src="{% static 'images/raw/nmn1.jpg' %}" alt="Numan Ibn Mazid" height="77%" width="70%">
                    </center>
                </div>
                <center>
                    <p style="font-size: 40px !important; margin-right: 10px; margin-top: 15px;">
                        <a title="Facebook" href="https://web.facebook.com/numanibnmazid" style="margin-right: 7%;"
                            target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-facebook"></i>
                            </span>
                        </a>
                        <a title="Twitter" href="https://twitter.com/NumanIbnMazid" style="margin-right: 7%;"
                            target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="ion-social-twitter"></i>
                                <i class="fab fa-twitter"></i>
                            </span>
                        </a>
                        <a title="Linkedin" href="https://www.linkedin.com/in/numan-ibn-mazid-23883910a/"
                            style="margin-right: 7%;" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-linkedin"></i>
                            </span>
                        </a>
                        <a title="Instagram" href="https://www.instagram.com/numanibnmazid/" style="margin-right: 7%;"
                            target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-instagram"></i>
                            </span>
                        </a>
                        <a title="YouTube" href="https://www.youtube.com/channel/UCNNlfUfTU61QaJDWPEakkeg"
                            style="margin-right: 7%;" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fab fa-youtube"></i>
                            </span>
                        </a>
                    </p>

                    <div>
                        <h4 style="color: #6783B0D9">numanibnmazid@gmail.com
                            <a title="E-mail" href="mailto:numanibnmazid@gmail.com?Subject=Great%20deal" target="_top"
                                style="margin-left: 1%; font-size: 25px; background-color: #0e3677;"
                                class="text_deco_none">
                                <span class="">
                                    <span>&#9993;</span> 
                                </span>
                            </a>
                        </h4>
                    </div>
                    <div>
                        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="col-md-12 text-center">
                                <span>
                                    Feel free to call
                                    <i class="fas fa-phone"></i>
                                    <strong> +880 1685238317 </strong>
                                </span>
                            </div>
                        </div>
                    </div>

                </center>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% include 'snippets/chunks/modals.html' %}