<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        BDonor
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            Developed <i class="fa fa-heart heart text-danger"></i> by <a
                href="https://www.facebook.com/numanibnmazid" target="_blank">Numan Ibn Mazid</a>
        </div>
    </div>
</footer>

{% include 'snippets/chunks/modals.html' %}