{% load static %}

{% url 'utils:site_preference' as site_preference_url %}
{% url 'home' as home_url %}
{% url 'user_list' as user_list_url %}
{% url 'donations:donation_offers_list' as donation_offers_list_url %}
{% url 'donations:donation_requests_list' as donation_requests_list_url %}
{% url 'donationBank:bank_list' as bank_list_url %}
{% url 'blog:blog_list' as blog_list_url %}
{% if request.user.is_authenticated %}
{% url 'profile_details' slug=request.user.profile.slug as profile_details_url %}
{% url 'profile_update' slug=request.user.profile.slug as profile_update_url %}
{% url 'donations:my_donation_offers' as my_donation_offers_url %}
{% url 'donations:donation_offers_list_card' as donation_offers_list_card_url %}
{% url 'donations:my_donation_requests' as my_donation_requests_url %}
{% url 'donations:donation_requests_list_card' as donation_requests_list_card_url %}
{% url 'donations:my_responds' as my_responds_url %}
{% url 'donation_bank:bank_create' as bank_create_url %}
{% url 'donation_bank:bank_dashboard' as bank_dashboard_url %}
{% url 'donation_bank:bank_campaign_list_public' as bank_campaign_list_public_url %}
{% endif %}

<div class="sidebar sidebar-style-2"
    data-background-color="{% if not site_preference.sidebar_color == None %}{{site_preference.sidebar_color}}{% else %}white{% endif %}">

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    {% include 'snippets/chunks/user-image.html' with instance=request.user class="avatar-img rounded-circle" %}
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {% if site_preference.sidebar_type == "compact-wrapper" %}
                            {{ request.user.profile.get_smallname|truncatechars_html:7 }}
                            {% else %}
                            {{ request.user.profile.get_dynamic_name|truncatechars_html:17 }}
                            {% endif %}
                            <span class="user-level {% if request.user.profile.account_type == 1 %}text-secondary{% endif %}">
                                {{ request.user.profile.get_account_type }}
                            </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse {% if request.path == profile_details_url or request.path == profile_update_url or request.path == site_preference_url %}show{% endif %}"
                        id="collapseExample">
                        <ul class="nav">
                            <li class="{% if request.path == profile_details_url %}c-active{% endif %}">
                                <a href="{{ profile_details_url }}">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li class="{% if request.path == profile_update_url %}c-active{% endif %}">
                                <a href="{{ profile_update_url }}">
                                    <span class="link-collapse">Update Profile</span>
                                </a>
                            </li>
                            <li class="{% if request.path == site_preference_url %}c-active{% endif %}">
                                <a href="{{ site_preference_url }}">
                                    <span class="link-collapse">Site Preference</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <ul class="nav nav-primary">
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a href="{{ home_url }}">
                        <i class="fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li
                    class="nav-item {% if request.path == donation_offers_list_url or request.path == donation_offers_list_card_url %}active{% endif %}">
                    <a href="{{ donation_offers_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/heart.png' %}" alt="donation offers"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Offers</p>
                    </a>
                </li>
                <li
                    class="nav-item {% if request.path == donation_requests_list_url or request.path == donation_requests_list_card_url %}active{% endif %}">
                    <a href="{{ donation_requests_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/help.png' %}" alt="donation requests"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Requests</p>
                    </a>
                </li>
                <li class="nav-item {% if request.path == bank_list_url %}active{% endif %}">
                    <a href="{{ bank_list_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/banks.png' %}" alt="donation bank"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Donation Banks</p>
                    </a>
                </li>

                {% if request.user.is_authenticated %}

                <li class="nav-item {% if request.path == bank_campaign_list_public_url %}active{% endif %}">
                    <a href="{{ bank_campaign_list_public_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/camp_icon.png' %}" alt="donation bank"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Campaigns</p>
                    </a>
                </li>
                
                <li
                    class="nav-item
                    {% if request.path == my_donation_offers_url or request.path == my_donation_requests_url or request.path == my_responds_url %}active
                    submenu{% endif %}">
                    <a data-toggle="collapse" href="#myContribution" class="collapsed">
                        <i class="fas fa-user"></i>
                        <p>My Zone</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if request.path == my_donation_offers_url or request.path == my_donation_requests_url or request.path == my_responds_url %}show{% endif %}"
                        id="myContribution">
                        <ul class="nav nav-collapse">
                            <li class="nav-item {% if request.path == my_donation_offers_url %}active{% endif %}">
                                <a href="{{ my_donation_offers_url }}">
                                    <i>
                                        <div class="avatar avatar-xs">
                                            <img src="{% static 'images/raw/heart.png' %}" alt="my offers"
                                                class="avatar-img rounded-circle">
                                        </div>
                                    </i>
                                    <p>My Offers</p>
                                </a>
                            </li>
                            <li class="nav-item {% if request.path == my_donation_requests_url %}active{% endif %}">
                                <a href="{{ my_donation_requests_url }}">
                                    <i>
                                        <div class="avatar avatar-xs">
                                            <img src="{% static 'images/raw/help.png' %}" alt="my requests"
                                                class="avatar-img rounded-circle">
                                        </div>
                                    </i>
                                    <p>My Requests</p>
                                </a>
                            </li>
                            <li class="nav-item {% if request.path == my_responds_url %}active{% endif %}">
                                <a href="{{ my_responds_url }}">
                                    <i class="fas flaticon-gestures"></i>
                                    <p>My Responds</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                {% if request.user.user_bank_member.role == "" and request.user.user_member_request.bank == "" %}
                <li class="nav-item {% if request.path == bank_create_url %}active{% endif %}">
                    <a href="{{ bank_create_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/donation_bank.png' %}" alt="donation bank"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>Create Donation Bank</p>
                    </a>
                </li>
                {% endif %}
                {% if not request.user.user_bank_member.role == "" %}
                <input type="hidden" name="user_bank" id="user_bank" value="{{ request.user.user_bank_member.bank.slug }}">
                <li
                    class="nav-item {% if request.path == bank_dashboard_url %}active{% endif %}" id="dynamic_li">
                    <a href="{{ bank_dashboard_url }}">
                        <i>
                            <div class="avatar avatar-xs">
                                <img src="{% static 'images/raw/donation_bank.png' %}" alt="donation bank"
                                    class="avatar-img rounded-circle">
                            </div>
                        </i>
                        <p>My Donation Bank</p>
                    </a>
                </li>
                {% endif %}

                {% endif %}

                <li class="nav-item {% if request.path == blog_list_url %}active{% endif %}" id="blog_dynamic_li">
                    <a href="{{ blog_list_url }}">
                        <i class="flaticon-agenda-1"></i>
                        <p>Blog</p>
                    </a>
                </li>
                
                <li class="nav-item {% if request.path == user_list_url %}active{% endif %}">
                    <a href="{{ user_list_url }}">
                        <i class="flaticon-users"></i>
                        <p>Users</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
    var loc = window.location;
    //var protocol = loc.protocol;
    //var host = loc.host;
    var pathname = loc.pathname;
    var target_path = '/donation-bank/';
    var exception_ending_path = '/details/'
    //var exception_ending_path2 = '/list/'
    if ($("#user_bank").val() != "") {
        var user_bank_slug = $("#user_bank").val();
    } else {
        var user_bank_slug = "";
    }
    var exception_path = target_path + user_bank_slug + exception_ending_path;
    if (pathname.match(exception_path)) {
        $("#dynamic_li").addClass("active");
    }
    if((pathname.match("^/donation-bank/")) && !(pathname.match("/details/$")) &&
    !(pathname.match("/donation-bank/list/$")) &&
    !(pathname.match("/campaign/list/public/$"))) {
        $("#dynamic_li").addClass("active");
    }
    if((pathname.match("^/blog/"))) {
        $("#blog_dynamic_li").addClass("active");
    }
    //else {
    //    $("#dynamic_li").removeClass("active");
    //}
</script>
{% endblock %}