{% load el_pagination_tags %}

{% if object_list.count >= 1 %}
{% paginate 12 object_list %}
{% endif %}


{% for object in object_list %}

<a href="{% url 'utils:notification_details' slug=object.slug %}" class="text-deco-none">
    <li class="feed-item feed-item-secondary">
        <time class="date" datetime="9-25">
            {% if datetime|date:"d-M-Y" == object.created_at|date:"d-M-Y" %}
            {{ object.created_at|timesince }} ago
            {% else %}
            {{ object.created_at }}
            {% endif %}
        </time>
        <span class="text">
            {{ object.subject|safe|linebreaks }}
        </span>
    </li>
</a>

{% empty %}

<div class="alert alert-warning text-center">
    No item found!
</div>
{% endfor %}

{% if object_list.count >= 1 %}
{% show_more "Show More" %}
{% endif %}