{% extends base_template %}

{% load static %}

{% load social_share %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{{ page_title }}
{% endblock %}{% endblock %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/blog.css' %}" type="text/css" />
<!-- owl-carousel CSS -->
<link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.theme.default.min.css' %}" type="text/css" />
{% endblock %}

{% block content %}

{% include 'blog/snippets/header.html' %}

<div class="card">
    <div class="card-header text-center">
        <h4 class="card-title">{{ page_title }}</h4>
        {% if object.user == request.user %}
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center mx-auto">
                <a href="{% url 'blog:blog_update' slug=object.slug %}" class="btn btn-sm btn-info">
                    <i class="fas fa-pen"></i>
                    Edit Post
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center mx-auto">
                <button type="button" class="btn btn-danger btn-sm text-deco-none bg-c-danger m-1 js_delete_blog"
                    value="{{object.slug}}" data-toggle="modal" data-target="#modal-delete-blog">
                    <i class="fas fa-trash"></i>
                    Delete Post
                </button>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto">

                {% comment %}

                {% if object.blog_attachments.all.count >= 1 %}
                <div class="owl-carousel">
                    {% for attachment in object.blog_attachments.all %}
                    {% if attachment.get_file_type == 'image' %}
                    <img class="card-img-top" src="{{ attachment.file.url }}" alt="{{ attachment.blog.title }}"
                    style="height:300px;width:100%;">
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="separator-solid"></div>

                {% endcomment %}

                <div class="d-flex">
                    <a class="text-deco-none text-dark" href="{{ object.user.profile.get_absolute_url }}">
                        <div class="avatar">
                            {% include 'snippets/chunks/user-image.html' with instance=object.user class="avatar-img rounded-circle" %}
                        </div>
                    </a>
                    <div class="info-post ml-2">
                        <a class="text-deco-none truncate-50" href="{{ object.user.profile.get_absolute_url }}">
                            <p class="username">
                                {{ object.user.profile.get_dynamic_name }}
                            </p>
                        </a>
                        <p class="date text-muted">
                            <i class="flaticon-time"></i>
                            {% if datetime|date:"d-M-Y" == object.created_at|date:"d-M-Y" %}
                            {{ object.created_at|timesince }} ago
                            {% else %}
                            {{ object.created_at }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="separator-solid"></div>

                <h3 class="card-title c-text-primary">
                    {{ object.title }}
                </h3>

                <div class="separator-solid"></div>

                <p class="card-text">
                    {{ object.details|safe|linebreaks }}
                </p>

                {% if object.tags %}
                <div class="separator-solid"></div>
                <p class="card-category text-info mb-1">
                    <a href="#">{{ object.tags }}</a>
                </p>
                {% endif %}

            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mx-auto">
                <div class="text-center">
                    
                    {% include 'blog/snippets/attachments.html' %}
                    
                    <h4 class="mt-3">Social Share</h4>
                    {% post_to_facebook object_or_url "Share on Facebook!" %}
                    {% post_to_twitter "{{object.title}}. Check it out!" object_or_url "Share on Twitter" %}
                    {% post_to_linkedin object.title object_or_url "Share on LinkedIn" %}
                    {% send_email object.title "{{object.title}}. Check it out!" object_or_url "Share via email" %}
                
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'blog/snippets/footer.html' %}

{% endblock %}

{% block extra_js %}
<!-- owl-carousel JS -->
<script type="text/javascript" src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/owlcarousel/owlcarousel-conf.js' %}"></script>
<!-- Zip Downloader JS -->
<script src="{% static 'vendor/zip-downloader/jszip.min.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/jszip-utils.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/FileSaver.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/zip-config.js' %}"></script>
{% endblock %}