{% load static %}

<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="notification">
        <span class="text-dark font-bold">
            {{notifications_unread}}
        </span>
    </span>
</a>
<ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
    <li>
        <div class="dropdown-title">
            You have {{notifications_unread}} unseen 
            {% if notifications_unread > 1 %}
            notifications
            {% else %}
            notification
            {% endif %}
        </div>
    </li>
    <li>
        <div class="notif-scroll scrollbar-outer">
            <div class="notif-center">
                {% for notification in notifications %}
                <a href="{% url 'utils:notification_details' slug=notification.slug %}"
                    class="{% if notification.is_seen == False %}font-bold bg-c-ash{% endif %}">
                    <div class="notif-icon"> 
                        {% if notification.sender == request.user %}
                        <i class="fa fa-user-plus"></i> 
                        {% else %}
                        <div class="avatar-xs">
                            {% include 'snippets/chunks/user-image.html' with instance=notification.sender class="avatar-img rounded" %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="notif-content">
                        <span class="block">
                            {{ notification.subject }}
                        </span>
                        <span class="time">
                            {% if datetime|date:"d-M-Y" == notification.updated_at|date:"d-M-Y" %}
                            {{ notification.updated_at | timesince }} ago {% else %}
                            {{ notification.updated_at }}
                            {% endif %}
                        </span>
                    </div>
                </a>
                {% empty %}
                <div class="alert alert-warning text-center" role="alert">
                    No Notifications available!
                </div>
                {% endfor %}
            </div>
        </div>
    </li>
    {% if notifications.count >= 1 %}
    <li>
        <a class="see-all" href="{% url 'utils:notification_list' %}">See all notifications<i
                class="fa fa-angle-right"></i> </a>
    </li>
    {% endif %}
</ul>