{% if request.user.is_superuser and not instance.user.user == request.user %}

{% if instance.category == 0 %}
<a href="{% url 'donations:donation_update' slug=instance.slug %}"
    class="btn btn-primary btn-sm text-deco-none bg-c-info">
    <span class="btn-label">
        <i class="flaticon-pencil"></i>
        edit
    </span>
</a>
{% endif %}

{% if instance.category == 1 %}
<a href="{% url 'donations:donation_request_update' slug=instance.slug %}"
    class="btn btn-primary btn-sm text-deco-none bg-c-info">
    <span class="btn-label">
        <i class="flaticon-pencil"></i>
        edit
    </span>
</a>
{% endif %}

{% endif %}


{% comment %}
{% if instance.user.user == request.user and instance.has_response == False %}

{% if not instance.donation_progress.progress_status == 1 %}

{% if instance.is_virtually_verified == False %}
{% endcomment %}

{% if instance.is_modifiable == True %}

{% if instance.category == 0 %}
<a href="{% url 'donations:donation_update' slug=instance.slug %}"
    class="btn btn-primary btn-sm text-deco-none bg-c-info">
    <span class="btn-label">
        <i class="flaticon-pencil"></i>
        edit
    </span>
</a>
{% endif %}

{% if instance.category == 1 %}
<a href="{% url 'donations:donation_request_update' slug=instance.slug %}"
    class="btn btn-primary btn-sm text-deco-none bg-c-info">
    <span class="btn-label">
        <i class="flaticon-pencil"></i>
        edit
    </span>
</a>
{% endif %}

<button type="button" class="btn btn-primary btn-sm text-deco-none bg-c-danger" id="js_delete_donation"
    value="{{instance.slug}}" data-toggle="modal" data-target="#modal-delete-donation">
    <i class="flaticon-interface-5"></i>
    delete
</button>

{% endif %}

{% comment %}
{% endif %}
{% endif %}
{% endif %}
{% endcomment %}

{% if request.user.is_superuser %}
    <a href="{% url 'donations:donation_progress' slug=instance.slug %}"
        class="btn btn-primary btn-sm text-deco-none bg-c-info">
        <span class="btn-label">
            <i class="flaticon-mark"></i>
            progress
        </span>
    </a>
{% else %}

    {% if instance.donate_type == 0 %}

        {% if instance.user.user == request.user %}

            {% if instance.category == 0 %}
                {% for donation_respond in instance.donation_respond.all %}
                    {% if donation_respond.is_applied_for_selection == True %}
                    <a href="{% url 'donations:donation_progress' slug=instance.slug %}"
                        class="btn btn-primary btn-sm text-deco-none bg-c-info">
                        <span class="btn-label">
                            <i class="flaticon-mark"></i>
                            progress
                        </span>
                    </a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if instance.category == 1 %}
            <a href="{% url 'donations:donation_progress' slug=instance.slug %}"
                class="btn btn-primary btn-sm text-deco-none bg-c-info">
                <span class="btn-label">
                    <i class="flaticon-mark"></i>
                    progress
                </span>
            </a>
            {% endif %}

        {% else %}

            {% if instance.category == 0 %}
                {% for donation_respond in instance.donation_respond.all %}
                    {% if request.user == donation_respond.respondent %}
                    <a href="{% url 'donations:donation_progress' slug=instance.slug %}"
                        class="btn btn-primary btn-sm text-deco-none bg-c-info">
                        <span class="btn-label">
                            <i class="flaticon-mark"></i>
                            progress
                        </span>
                    </a>
                    {% endif %}
                {% endfor %}
            {% endif %}

        {% endif %}
    {% endif %}

{% endif %}