{% if instance.user.user == request.user and instance.has_response == False %}

{% if not instance.donation_progress.progress_status == 1 %}
<a href="{{ donation_update_url }}" class="btn btn-primary btn-sm text-deco-none bg-c-info">
    <span class="btn-label">
        <i class="flaticon-pencil"></i>
        edit
    </span>
</a>
<button type="button" class="btn btn-primary btn-sm text-deco-none bg-c-danger" id="js_delete_donation"
    value="{{instance.slug}}" data-toggle="modal" data-target="#modal-delete-donation">
    <i class="flaticon-interface-5"></i>
    delete
</button>
{% endif %}

{% endif %}