<!-- Comment Reply Modal -->
<div class="modal fade bg-opacity-mid" id="modal-comment-reply" tabindex="-1" role="dialog"
    aria-labelledby="commentReplyDefaultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-c-white-raw">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-dark" id="commentReplyDefaultModalLabel">Please Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'blog:reply_comment' %}" id="commentReplyForm">
                    {% csrf_token %}
                    <input type="hidden" id="comment_id" name="id" value="0">
                    <div class="text-center">
                        <textarea class="form-control" name="comment-reply" id="comment_reply_input"
                            placeholder="write your reply..." rows="3"></textarea>
                        <p class="text-danger font-bold text-center">
                            <span id="comment_reply_msg"></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" id="delete-donation">Add Reply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#comment_reply_input').click(function () {
            //console.log("Found");
            $("#comment_reply_msg").html("");
        });
        // delete report
        $(".js_comment_reply").click(function () {
            let new_comment_id = this.value;
            $('#comment_id').val(new_comment_id);
            console.log(new_comment_id);
        });
    });
    $("#commentReplyForm").submit(function (event) {
        reply = $("#comment_reply_input");
        console.log(reply.val());
        event.preventDefault();
        if (reply.val().length > 786) {
            event.preventDefault();
            $("#comment_reply_msg").html("Maximum 786 characters allowed. Currently using: " + reply.val().length +
                " characters");
        } else if (reply.val() == "") {
            $("#comment_reply_msg").html("Please write your reply first!");
        } else {
            this.submit();
            return true;
        }
        return true;
    });
</script>
{% endblock %}